{% extends 'app/base.html' %}
{% load static %}
{% block products %}
<div class="services_section layout_padding">
    <div class="container">
       <h1 class="services_taital" id="organic">Organic Products</h1>
       <div class="services_section_2 layout_padding">
          <div class="row">
             <div class="col-md-6">
                <a href="{% url 'fertilizer' %}#fertilizer">
                    <div class="image_main">
                       <img src="{% static 'app/images/org-fert.png' %}" class="image_2">
                       <!-- <h2 class="vegetable_text">Organic Fertilizers</h2> -->
                    </div>
                    <h2 class="index_organic">Organic Fertilizers</h2>
                </a>
             </div>
             <div class="col-md-6">
                <a href="{% url 'pesticide' %}#pesticide">
                    <div class="image_main">
                       <img src="{% static 'app/images/org-pest.png' %}" class="image_2">
                       <!-- <h2 class="vegetable_text">Organic Pesticides</h2> -->
                    </div>
                    <h2 class="index_organic">Organic Pesticides</h2>
                 </a>
             </div>
          </div>
          <div class="row">
            <div class="col-md-12">
               <h4 style="text-align: left; margin-top: 5%;">Instructions:</h4>
               <p style="text-align: justify; font-style: italic;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
          </div>
       </div>
    </div>
</div>
<br>
{% endblock %}