{% extends 'app/base.html' %}
{% load static %}
{% block choose %}
<div class="choose_section layout_padding">
    <div class="container">
       <h1 class="choose_taital">Organic Products - Pesticide</h1>
       <div class="container" id="pesticide">
         <form id="pesticide-form" action="{% url 'pesticide' %}#pesticide" method="POST">
            {%include 'app/messages.html'%}
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.search.id_for_label}}" class="col-form-label">{{form.search.label}} {%if form.search.field.required%}<i style="color:red">*</i>{%endif%}</label>
                {{form.search}}
            </div>
        </form>
       </div>
       <div class="container">
         <table class="table table-hover" style="width: 100%; text-align: justify;">
            <thead>
               <tr style="background-color: #defde0;">
                  <th>Pesticide</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               {% for i in list %}
               <tr onclick="window.location.href='/pesticide-details/{{i.pesticide_id}}#pesticide'" style="cursor: pointer;">
                  <td style="font-weight: bold;">{{i.name}}</td>
                  <td>{{i.description}}</td>
               </tr>
               {% endfor %}
               {% for i in list_ %}
               <tr onclick="window.location.href='/pesticide-details/{{i.pesticide_id}}#pesticide'" style="cursor: pointer;">
                  <td>{{i.pesticide.name}}</td>
                  <td>{{i.pesticide.description}}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <br>
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
               {% if list.has_previous %}
                  <li class="page-item">
                        <a class="page-link" href="?page=1#pesticide" aria-label="First">
                           <span aria-hidden="true">&laquo; first</span>
                        </a>
                  </li>
                  <li class="page-item">
                        <a class="page-link" href="?page={{ list.previous_page_number }}#pesticide" aria-label="Previous">
                           <span aria-hidden="true">previous</span>
                        </a>
                  </li>
               {% else %}
                  <li class="page-item disabled">
                        <a class="page-link" aria-label="First">
                           <span aria-hidden="true">&laquo; first</span>
                        </a>
                  </li>
                  <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                           <span aria-hidden="true">previous</span>
                        </a>
                  </li>
               {% endif %}
      
               <!-- Range of page numbers -->
               {% for i in list.paginator.page_range %}
                  {% if list.number == i %}
                        <li class="page-item active" aria-current="page">
                           <a class="page-link" href="#">{{ i }}</a>
                        </li>
                  {% elif i > list.number|add:'-3' and i < list.number|add:'3' %}
                        <li class="page-item">
                           <a class="page-link" href="?page={{ i }}#pesticide">{{ i }}</a>
                        </li>
                  {% endif %}
               {% endfor %}
      
               {% if list.has_next %}
                  <li class="page-item">
                        <a class="page-link" href="?page={{ list.next_page_number }}#pesticide" aria-label="Next">
                           <span aria-hidden="true">next</span>
                        </a>
                  </li>
                  <li class="page-item">
                        <a class="page-link" href="?page={{ list.paginator.num_pages }}#pesticide" aria-label="Last">
                           <span aria-hidden="true">last &raquo;</span>
                        </a>
                  </li>
               {% else %}
                  <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                           <span aria-hidden="true">next</span>
                        </a>
                  </li>
                  <li class="page-item disabled">
                        <a class="page-link" aria-label="Last">
                           <span aria-hidden="true">last &raquo;</span>
                        </a>
                  </li>
               {% endif %}
            </ul>
      </nav> 
       </div>
    </div>
 </div>
{% endblock %}