{% extends 'app/base.html' %}
{% load static %}

{% block choose %}
<!-- <h1 class="choose_taital text-center" id="profile" style="padding: 5rem;">My Profile</h1> -->
<div class="choose_section layout_padding" id="prof">
    <div class="container" style="padding-top: 40px;">
        <h1 class="choose_taital text-center" id="profile">My Profile</h1>
        <form action="{% url 'profile' id %}" method="POST" enctype="multipart/form-data">
            {% include 'app/messages.html' %}
            {% csrf_token %}
            <div class="row">      
                <!-- Profile Picture Section -->
                <div class="col-md-4">
                    <label for="{{ form.image.id_for_label }}">Profile Picture</label>
                    <div class="profile-picture">
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
                        {% else %}
                            <img src="{% static 'app/images/user.png' %}" alt="Default Profile" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                        {% endif %}
                        <p class="small-text mt-2">Upload a different photo...</p>
                        {{ form.image }}
                    </div>
                </div>

                <!-- Personal Information Section -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.firstname.id_for_label }}">First Name</label>
                        {{ form.firstname }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.middlename.id_for_label }}">Middle Name</label>
                        {{ form.middlename }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.lastname.id_for_label }}">Last Name</label>
                        {{ form.lastname }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.suffix.id_for_label }}">Extension</label>
                        {{ form.suffix }}
                    </div>
                </div>

                <!-- Additional Information Section -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ form.civil_status.id_for_label }}">Civil Status</label>
                        {{ form.civil_status }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.gender.id_for_label }}" style="margin-top: 0.2rem">Gender</label>
                        {{ form.gender }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.occupation.id_for_label }}">Occupation</label>
                        {{ form.occupation }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.address.id_for_label }}">Address</label>
                        {{ form.address }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.contact_no.id_for_label }}">Contact No.</label>
                        {{ form.contact_no }}
                    </div>
                </div>
            </div>

            <!-- Buttons Section -->
            <div class="row mt-4 justify-content-center" style="margin-bottom: 40px;">
                <div class="col-6 col-sm-4 col-md-2 text-center mb-2 mb-md-0">
                    <button class="btn btn-success w-100" type="submit">Save</button>
                </div>
                <div class="col-6 col-sm-4 col-md-2 text-center">
                    <button class="btn btn-secondary w-100" type="reset">Reset</button>
                </div>
            </div>
            

        </form>

    </div>
</div>

{% endblock %}
