@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kaushan+Script&family=Poppins:wght@100;300&family=Proza+Libre:wght@500&family=Wix+Madefor+Display&display=swap');

menu{
    font-family: 'Poppins';
}
.custum_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../images/banner-bg.png);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custum_menu .logo {
    flex: 1; 
    margin-right: auto;
}

.custum_menu .logo img {
    height: auto;
    max-height: 70px;
    object-fit: contain;
}

.custum_menu .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-self: flex-end; 
}

.custum_menu .burger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.custum_menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1; 
    justify-content: center; 
}

.custum_menu ul li {
    margin: 0 15px;
}

.custum_menu ul li {
    display: inline-block; 
}

.custum_menu ul li a {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    transition: color 0.3s;
    position: relative;
}


.custum_menu ul li a:hover {
    color: #ffff;
}


.custum_menu ul .active a {
    font-weight: bold;
    color: #ffff;
}


.custum_menu ul li a::after {
    content: '';
    display: block;
    height: 3px; 
    border-radius: 2px;
    width: 100%; 
    background: transparent;
    position: absolute;
    left: 0;
    top: 3.2rem;
    transition: background 0.3s; 
}


.custum_menu ul li a:hover::after,
.custum_menu ul .active a::after {
    background: #20770e; 
}


/* Responsive design */
@media (max-width: 768px) {
    .custum_menu {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }

    .custum_menu .burger {
        padding-bottom: 2rem;
        display: flex;
        cursor: pointer; 
        margin-left: auto; 
    }

    .custum_menu ul {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        position: absolute; 
        right: 0; 
        top: 79px; 
        background-image: url(../images/banner-bg.png); 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        z-index: 999; 
    }

    .custum_menu ul.active {
        display: flex; 
    }

    .custum_menu ul li {
        margin: 10px 0; 
        text-align: right; 
    }

    .custum_menu ul li a {
        font-size: 1.9rem; 
        text-align: center; 
        padding: 12px 20px; 
        display: block; 
        transition: color 0.3s; 
    }

    .custum_menu ul li a::after {
        width: 20rem; 
        margin-left: 0; 
        height: 4px; 
        border-radius: 2px; 
        background: transparent;
        position: relative;
        left: 50%;
        bottom: -8px;
        transform: translateX(-50%); 
    }

    .custum_menu ul li a:hover::after,
    .custum_menu ul .active a::after {
        background: #20770e; 
        
    }

    /* Adjustments for very small screens */
    @media (max-width: 480px) {
        .custum_menu ul li a {
            font-size: 1.5rem; 
        }

        .custum_menu ul li a::after {
            top: 10px;
            height: 4px; 
        }
    }
}








